# Ne pas envoyer ces éléments dans le contexte de build Docker
.git
.gitignore
.github
node_modules
npm-debug.log*
coverage
reports
.env
.env.local
.DS_Store
.idea
.vscode
Dockerfile
docker-compose.yml
deploy.sh
deploy.log
docs
*.md
